My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {},
      "id": "24af63c8-49ec-428a-ac6a-01b48a2d4705",
      "name": "When clicking \"Execute Workflow\"",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        300,
        660
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2023/calendar.csv",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "id": "ceebeb01-4abe-4a1f-9c9f-b9990bcf20df",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        460,
        460
      ]
    },
    {
      "parameters": {
        "binaryPropertyName": "=data",
        "options": {
          "readAsString": true
        }
      },
      "id": "749acbf3-9f66-4be5-b404-bbaabdc9abd9",
      "name": "Spreadsheet File",
      "type": "n8n-nodes-base.spreadsheetFile",
      "typeVersion": 1,
      "position": [
        640,
        460
      ]
    },
    {
      "parameters": {
        "url": "http://xmlcalendar.ru/data/ru/2023/calendar.json",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "f80a943f-7a43-497b-bb10-10577206f7f6",
      "name": "HTTP Request1",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        480,
        840
      ]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "number": [
            {
              "name": "Год/Месяц",
              "value": "={{ $json.year }}"
            },
            {
              "name": "Всего рабочих дней",
              "value": "={{ $json.statistic.workdays }}"
            },
            {
              "name": "Всего праздничных и выходных дней",
              "value": "={{ $json.statistic.holidays }}"
            },
            {
              "name": "Количество рабочих часов при 40-часовой рабочей неделе",
              "value": "={{ $json.statistic.hours40 }}"
            },
            {
              "name": "Количество рабочих часов при 36-часовой рабочей неделе",
              "value": "={{ $json.statistic.hours36 }}"
            },
            {
              "name": "Количество рабочих часов при 24-часовой рабочей неделе",
              "value": "={{ $json.statistic.hours24 }}"
            }
          ],
          "string": [
            {
              "name": "Январь",
              "value": "={{ $json.months[0].days }}"
            },
            {
              "name": "Февраль",
              "value": "={{ $json.months[1].days }}"
            },
            {
              "name": "Март",
              "value": "={{ $json.months[2].days }}"
            },
            {
              "name": "Апрель",
              "value": "={{ $json.months[3].days }}"
            },
            {
              "name": "Май",
              "value": "={{ $json.months[4].days }}"
            },
            {
              "name": "Июнь",
              "value": "={{ $json.months[5].days }}"
            },
            {
              "name": "Июль",
              "value": "={{ $json.months[6].days }}"
            },
            {
              "name": "Август",
              "value": "={{ $json.months[7].days }}"
            },
            {
              "name": "Сентябрь",
              "value": "={{ $json.months[8].days }}"
            },
            {
              "name": "Октябрь",
              "value": "={{ $json.months[9].days }}"
            },
            {
              "name": "Ноябрь",
              "value": "={{ $json.months[10].days }}"
            },
            {
              "name": "Декабрь",
              "value": "={{ $json.months[11].days }}"
            }
          ]
        },
        "options": {
          "dotNotation": true
        }
      },
      "id": "189c3937-05db-4c46-9b3e-bd9e98fc9d48",
      "name": "Set",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        660,
        840
      ]
    },
    {
      "parameters": {
        "command": "echo \"has no any diffrence\""
      },
      "id": "56fcf061-17b6-442a-908f-f138530aa5bf",
      "name": "equal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1240,
        880
      ]
    },
    {
      "parameters": {
        "command": "echo \"has a diffrence\""
      },
      "id": "12730bfa-18e2-4386-85a9-9fedd6a7cccd",
      "name": "non euqal",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1220,
        480
      ]
    },
    {
      "parameters": {
        "mode": "combine",
        "mergeByFields": {
          "values": [
            {
              "field1": "[\"Год/Месяц\"]",
              "field2": "[\"Год/Месяц\"]"
            }
          ]
        },
        "joinMode": "keepNonMatches",
        "options": {}
      },
      "id": "71ca3d96-0e5e-4491-9928-ff2cffdf94a7",
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 2.1,
      "position": [
        780,
        640
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json[\"empty\"]}}"
            }
          ]
        }
      },
      "id": "053b5f95-1e3d-487d-a6ec-b7e0bd34b01f",
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1120,
        680
      ]
    },
    {
      "parameters": {
        "jsCode": "return [{json: {empty: items.length == 1 && Object.keys(items[0].json).length == 0}}];"
      },
      "id": "231052d8-dc60-44cc-93d2-5da334f55be7",
      "name": "IF Is Empty?",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        940,
        680
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking \"Execute Workflow\"": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Spreadsheet File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Spreadsheet File": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Set",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "IF Is Empty?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "non euqal",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "equal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Is Empty?": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "37822b06-65f9-413e-93a1-5604a2f22186",
  "id": "P4iKnRcMpIeZv7b5",
  "meta": {
    "instanceId": "33cd0335d3d00232e799a1e1a54c332eb04ded035fe081d0a3b524fa011897d1"
  },
  "tags": []
}